---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import ListOfImg from "../components/ListOfImg.astro";
import Hero from "../components/Hero.astro";
import TagHero from "../components/TagHero.astro";
export const prerender = false;
---

<Layout title="Fresh Img">
  <Header home="text-cyan-500" />
  <main>
    <Hero>
      <TagHero slot="tag" tag="Todas las imagenes" />
    </Hero>

    <ListOfImg/>
  </main>
</Layout>
