---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import ItemImg from "../components/ItemImg.astro";
---

<Layout title="Fresh Img">
  <Header />
  <main>
    <section class="w-full flex justify-center py-8 px-12">
      <div class="w-full max-w-[1920px] flex flex-col gap-5">
        <header class="w-full flex flex-col gap-1">
          <h1 class="text-3xl font-semibold">
            Encontra los mejores <span class="text-cyan-500">Wallpapers</span> de
            tus tecnologias favoritas
          </h1>
          <p class="text-xl">
            Descargalos de forma sencilla y con la mejor Calidad.
          </p>
        </header>
        <footer class="w-full">
          <a href="/" class="bg-slate-200 rounded-full px-4 py-1"
            >Todas las imagenes</a
          >
        </footer>
      </div>
    </section>

    <section class="w-full flex justify-center py-6 px-12">
      <div class="w-full max-w-[1920px] grid grid-cols-auto-fit gap-2">
        <ItemImg href="/" src="../../public/img/all-1.jpg" alt="a" />
        <ItemImg href="/" src="../../public/img/react-2.jpg" alt="a" />
        <ItemImg href="/" src="../../public/img/next-1.webp" alt="a" />
        <ItemImg href="/" src="../../public/img/astro-1.jpg" alt="a" />
        <ItemImg href="/" src="../../public/img/tailwind-1.png" alt="a" />
        <ItemImg href="/" src="../../public/img/html-1.jpg" alt="a" />
        <ItemImg href="/" src="../../public/img/astro-2.webp" alt="a" />
        <ItemImg href="/" src="../../public/img/react-7.jpg" alt="a" />
        <ItemImg href="/" src="../../public/img/next-2.png" alt="a" />

        <ItemImg href="/" src="../../public/img/css-1.webp" alt="a" />
        <ItemImg href="/" src="../../public/img/all-1.jpg" alt="a" />
        <ItemImg href="/" src="../../public/img/react-2.jpg" alt="a" />
        <ItemImg href="/" src="../../public/img/next-1.webp" alt="a" />
        <ItemImg href="/" src="../../public/img/astro-1.jpg" alt="a" />
        <ItemImg href="/" src="../../public/img/tailwind-1.png" alt="a" />
        <ItemImg href="/" src="../../public/img/html-1.jpg" alt="a" />
        <ItemImg href="/" src="../../public/img/astro-2.webp" alt="a" />
        <ItemImg href="/" src="../../public/img/react-7.jpg" alt="a" />
        <ItemImg href="/" src="../../public/img/next-2.png" alt="a" />
        <ItemImg href="/" src="../../public/img/css-1.webp" alt="a" />
      </div>
    </section>
  </main>
</Layout>
