---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import ItemImg from "../components/ItemImg.astro";
import TagHero from "../components/TagHero.astro";
import { images } from "../data/images";
const { image } = Astro.params;

const info = images.find((b) => b.id === image);
---

<Layout title="React">
  <Header react="text-cyan-500" />
  <main>
    <Hero>
      <TagHero slot="tag" tag="React Js" />
    </Hero>
    <section class="w-full flex justify-center py-6 px-12">
      <ul class="w-full max-w-[1920px] grid grid-cols-auto-fit gap-2">
        {
          images.map(({ id, title, img }) => {
            if (id.includes("react")) {
              return <ItemImg id={id} title={title} img={img} />;
            }
          })
        }
      </ul>
    </section>
  </main>
</Layout>
