---
const { subtitle } = Astro.props;
---

<section class="w-full flex justify-center py-8 px-12">
    <div class="w-full max-w-[1920px] flex flex-col gap-5">
        <header class="w-full flex flex-col gap-1">
            <h1 class="text-3xl font-semibold">Encontra los mejores <span class="text-cyan-500">Wallpapers</span> de tus tecnologias favoritas</h1>
            <p class="text-xl">Descargalos de forma sencilla y con la mejor Calidad.</p>
        </header>
        <footer class="w-full flex gap-2 items-center">
            <slot name="tag">

            </slot>
        </footer>
    </div>
</section>
